manifest {
    name = 'BactPipe'
    author = 'Bukhari2917'
    description = 'Bacterial genome analysis pipeline'
    version = '1.0.0'
}

params {
    reads = null
    outdir = './results'
    sample = null
    threads = 8
}

process {
    cpus = params.threads
    memory = '16.GB'
    errorStrategy = 'retry'
    maxRetries = 2
}

profiles {
    conda {
        conda.enabled = true
        conda.useMamba = true
    }
    docker {
        docker.enabled = true
    }
    standard {
        process.executor = 'local'
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}