cd ~/bacteria_test/BactPipe

cat > nextflow.config << 'EOF'
docker.enabled = true

process {
    withName: ANTISMASH {
        container = 'antismash/antismash:latest'
    }
}

profiles {
    conda {
        conda.enabled = true
        process.conda = "envs/environment.yml"
    }
    docker {
        docker.enabled = true
    }
}
EOF
