// nextflow.config
params {
    reads = "data/*_R{1,2}.fastq.gz"
    outdir = "results"
}

process {
    cpus = 8
    memory = 16.GB
    time = 2.h
    
    withName: ASSEMBLY {
        memory = 32.GB
        cpus = 8
        time = 4.h
    }
}

profiles {
    conda {
        conda.enabled = true
        process.conda = "environment.yml"
    }
}
