process {
    cpus = { check_max(params.threads, 'cpus') }
    memory = { check_max('16.GB', 'memory') }
    errorStrategy = 'retry'
    maxRetries = 3
}

def check_max(value, type) {
    if (type == 'cpus') {
        def max_cpus = task.availableCpus ?: 8
        return Math.min(value, max_cpus)
    }
    if (type == 'memory') {
        def max_mem = task.availableMemory ?: 32.GB
        return Math.min(value, max_mem)
    }
    return value
}